In [1]:
print('hello jupyter')

hello jupyter

In [2]:
print('hello jupyter')

hello jupyter

This is a note line

In [3]:
my_dogs = 2

In [4]:
her_dogs = 2

In [5]:
my_dogs + her_dogs

4

In [6]:
'this is a string'

'this is a string'

In [7]:
"I'm going on a run"

"I'm going on a run"

In [8]:
print('hello')

hello

In [9]:
mystring = "Hello World"

In [10]:
mystring[1]

'e'

In [11]:
mystring[-2]

'l'

In [12]:
mystring

'Hello World'

In [13]:
mystring = 'abcdefghijk'

In [14]:
mystring[2:]

'cdefghijk'

In [15]:
mystring[:3]

'abc'

In [16]:
mystring[3:6]

'def'

In [17]:
mystring[1:3]

'bc'

In [18]:
mystring[4:7]

'efg'

In [19]:
mystring[::2]

'acegik'

In [20]:
mystring[::-1]

'kjihgfedcba'

Immutability

In [21]:
name[1:]

NameError: name 'name' is not defined

In [22]:
name = 'Sam'

In [23]:
name[:1]

'S'

In [24]:
name[1:]

'am'

In [25]:
last_letters = name[1:]

In [26]:
last_letters

'am'

In [27]:
'P' + last_letters

'Pam'

In [28]:
letter = 'z'

In [29]:
letter * 10

'zzzzzzzzzz'

In [30]:
x = 'Hello World'

In [31]:
x.upper()

'HELLO WORLD'

In [32]:
x

'Hello World'

In [33]:
x.split()

['Hello', 'World']

In [34]:
x = 'Hi this is a string'

In [35]:
x.split()

['Hi', 'this', 'is', 'a', 'string']

In [36]:
x.split('i')

['H', ' th', 's ', 's a str', 'ng']

# Formatting with the .format() method

In [37]:
print('This is a string {}'.format('INSERTED'))

This is a string INSERTED

In [38]:
print('The {2} {1} {0}'.format('fox', 'brown', 'quick'))

The quick brown fox

In [40]:
print('The {q} {b} {f}'.format(f='fox', b='brown', q='quick'))

The quick brown fox

# Float formatting follows "{value:width.precision f}"

In [42]:
result = 100/777

In [43]:
result

0.1287001287001287

In [46]:
print("The result was {r}".format(r=result))

The result was 0.1287001287001287

In [47]:
print("The result was {r:1.3f}".format(r=result))

The result was 0.129

In [48]:
print("The result was {r:10.3f}".format(r=result))

The result was      0.129

In [49]:
print("The result was {r:10.5f}".format(r=result))

The result was    0.12870

In [50]:
name = 'Jose'

In [51]:
print(f'Hello, his name is {name}')

Hello, his name is Jose

In [52]:
age = 3

In [54]:
print(f'{name} is {age} years old')

Jose is 3 years old

# Lists

In [55]:
my_list = [1,2,3]

In [56]:
my_list = ['STRING',100,23.2]

In [57]:
len(my_list)

3

In [58]:
new_list = ['one','two','three']

In [59]:
new_list.append('four')

In [60]:
new_list

['one', 'two', 'three', 'four']

In [61]:
new_list.pop()

'four'

In [62]:
new_list

['one', 'two', 'three']

In [63]:
popped_item = new_list.pop()

In [64]:
popped_item

'three'

In [65]:
new_list

['one', 'two']

In [66]:
new_list.pop(0)

'one'

In [67]:
new_list

['two']

In [68]:
new_list = ['a','e','c','b']
num_list = [4,1,5,3]

In [69]:
new_list.sort()

In [70]:
new_list

['a', 'b', 'c', 'e']

In [71]:
num_list.sort()

In [72]:
num_list

[1, 3, 4, 5]

In [73]:
num_list.reverse()

In [74]:
num_list

[5, 4, 3, 1]

# Dictionaries

In [75]:
my_dict = {'key1':'value1','key2':'value2','key3':'value3'}

In [76]:
my_dict

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}

In [77]:
my_dict['key3']

'value3'

In [78]:
d = {'k1':100,'k2':200}

In [79]:
d

{'k1': 100, 'k2': 200}

In [81]:
d['k3'] = 300

In [82]:
d

{'k1': 100, 'k2': 200, 'k3': 300}

In [83]:
d['k1'] = 'New Value'

In [84]:
d

{'k1': 'New Value', 'k2': 200, 'k3': 300}

In [85]:
d.keys()

dict_keys(['k1', 'k2', 'k3'])

In [86]:
d.values()

dict_values(['New Value', 200, 300])

In [87]:
d.items()

dict_items([('k1', 'New Value'), ('k2', 200), ('k3', 300)])

# Tuples

Tuples are immutable
Tuples are very similar to a list

In [88]:
t = (1,2,3)

In [99]:
mylist = [1,2,3]

In [100]:
type(mylist)

list

In [91]:
type(t)

tuple

In [92]:
len(t)

3

In [93]:
t[0]

1

In [94]:
t[-1]

3

In [95]:
t = ('a','a','b')

In [96]:
t.count('a')

2

In [97]:
t.index('a')

0

In [98]:
t

('a', 'a', 'b')

In [101]:
mylist[0] = 'New'

In [102]:
mylist

['New', 2, 3]

In [103]:
t[0] = 'New'

TypeError: 'tuple' object does not support item assignment

This error explains why tuples are immutable

In [104]:
t1 = (1,2,[1,2])

In [105]:
type(t1)

tuple

# Sets in Python

Sets are unordered collection of unique elements

In [106]:
myset = set()

In [107]:
myset

set()

In [108]:
myset.add(1)

In [109]:
myset

{1}

In [110]:
myset.add(2)

In [111]:
myset

{1, 2}

In [112]:
myset.add(2)

In [113]:
myset

{1, 2}

In [114]:
mylist = [1,1,1,2,2,2,2]

In [115]:
set(mylist)

{1, 2}

In [116]:
set('Mississippi')

{'M', 'i', 'p', 's'}

# Booleans

In [117]:
True

True

In [118]:
true

NameError: name 'true' is not defined

In [119]:
type(False)

bool

In [120]:
1 > 2

False

In [121]:
1 == 1

True

In [122]:
b = None

In [123]:
type(b)

NoneType

In [124]:
set([1,1,2,3])

{1, 2, 3}

# I/O with Basic files in Python

In [126]:
%%writefile myfile.txt
Hello this is a text file
this is the second line
this is the third line

Writing myfile.txt

In [127]:
myfile = open('myfile.txt')

In [128]:
pwd

'C:\\Users\\18043\\Projects\\My Python Stuff'

In [129]:
myfile.read()

'Hello this is a text file\nthis is the second line\nthis is the third line\n'

In [130]:
myfile.read()

''

In [131]:
myfile.seek(0)

0

In [132]:
myfile.read()

'Hello this is a text file\nthis is the second line\nthis is the third line\n'

In [133]:
myfile.seek(0)

0

In [134]:
myfile.readlines()

['Hello this is a text file\n',
 'this is the second line\n',
 'this is the third line\n']

In [135]:
myfile.close()

In [137]:
with open('myfile.txt') as my_new_file:
    contents = my_new_file.read()

In [138]:
contents

'Hello this is a text file\nthis is the second line\nthis is the third line\n'

In [141]:
with open('myfile.txt',mode='w') as myfile:
    contents = myfile.read()

UnsupportedOperation: not readable

In [140]:
contents

'Hello this is a text file\nthis is the second line\nthis is the third line\n'

In [143]:
%%writefile my_new_file.txt
ONE ON FIRST
TWO ON SECOND
THREE ON THIRD

Overwriting my_new_file.txt

In [144]:
with open('my_new_file.txt', mode='r') as f:
    print(f.read())

ONE ON FIRST
TWO ON SECOND
THREE ON THIRD

In [145]:
with open('my_new_file.txt',mode='a') as f:
    f.write('\nFOUR ON FOURTH')

In [146]:
with open('my_new_file.txt', mode='r') as f:
    print(f.read())

ONE ON FIRST
TWO ON SECOND
THREE ON THIRD
FOUR ON FOURTH

In [147]:
with open('ajoehroiadsjf.txt',mode='w') as f:
    f.write('I CREATED THIS FILE')

In [148]:
with open('ajoehroiadsjf.txt',mode='r') as f:
    print(f.read())

I CREATED THIS FILE

# Operators

In [150]:
2 == 2.0

True

In [151]:
'2' == 2

False

In [152]:
1 < 2

True

In [153]:
2 > 3

False

In [154]:
1 < 2 < 3

True

In [155]:
1 < 2 and 2 < 3

True

In [158]:
.001 == 1 or 2 == 2

True

In [159]:
not(1 == 1)

False

In [160]:
not 400 > 5000

True

# If / elif / else

In [161]:
if True:
    print('its true')

its true

In [163]:
hungry = False

if hungry:
    print('Feed me')
else:
    print('Im not hungry')

Im not hungry

In [166]:
loc = 'Bank'

if loc == 'Auto shop':
    print('Cars are cool')
elif loc == 'Bank':
    print('Money is cool')
else:
    print('i dont know much')

Money is cool

In [169]:
name = 'Sammy'

if name == 'Frankie':
    print('hello Frankie')
elif name == 'Sammy':
    print('Hey Sammy')
else:
    print('What is your name')

Hey Sammy

# For loops

In [170]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [171]:
for num in mylist:
    print(num)

1
2
3
4
5
6
7
8
9
10

In [173]:
for num in mylist:
    if num % 2 == 0:
        print(num)
    else:
        print(f'Odd Number: {num}')

Odd Number: 1
2
Odd Number: 3
4
Odd Number: 5
6
Odd Number: 7
8
Odd Number: 9
10

In [177]:
list_sum = 0

for num in mylist:
    list_sum = list_sum + num
    
print(list_sum)

55

In [181]:

for _ in 'hello':
    print('letter')

letter
letter
letter
letter
letter

In [188]:
tup = (1,2,3)

for item in tup:
    print(item)

1
2
3

In [190]:
mylist = [(1,2),(3,4),(5,6)]

for item in mylist:
    print(item)

(1, 2)
(3, 4)
(5, 6)

In [191]:
#Tuple unpacking: to print a specific item in a tuple
for a,b in mylist:
    print(b)

2
4
6

In [192]:
d = {'k1':1, 'k2':2, 'k3':3}
#when iterating through items in the dictionary it only iterates over the keys
for item in d:
    print(item)

k1
k2
k3

In [193]:
#if you want to iterate over the values too you call the dictionary with .items()
for item in d.items():
    print(item)

('k1', 1)
('k2', 2)
('k3', 3)

In [195]:
# you can unpack the dictionary items as well
for key,value in d.items():
    print(value)

1
2
3

# While loops

In [198]:
x = 0

while x < 5:
    print(f'The current value of x is {x}')
    x = x + 1
else:
    print('X is not less than 5')

The current value of x is 0
The current value of x is 1
The current value of x is 2
The current value of x is 3
The current value of x is 4
X is not less than 5

In [199]:
# break: Breaks out of the current closest enclosing loop
# continue: Goes to the top of the closest enclosing loop
# pass: Does nothing at all

In [202]:
x = [1,2,3]

for item in x:
    # comment
    pass

print('end of my script')

end of my script

In [203]:
mystring = "Sammy"

for letter in mystring:
    if letter == 'a':
        continue
    print(letter)

S
m
m
y

In [204]:
mystring = "Sammy"

for letter in mystring:
    if letter == 'a':
        break
    print(letter)

S

In [205]:
x = 0

while x < 5:
    print(x)
    x +=1

0
1
2
3
4

In [206]:
x = 0

while x < 5:
    
    if x == 2:
        break
    print(x)
    x +=1

0
1

# Other useful operators

In [207]:
print(mylist)

[(1, 2), (3, 4), (5, 6)]

In [208]:
mylist = [1,2,3]

In [211]:
# range takes in the starting point, ending point (not inclusive), and the step size
for num in range(3,10,2):
    print(num)

3
5
7
9

In [213]:
# range is a generator function
range(3,10,2)

range(3, 10, 2)

In [215]:
# if I want the listed items in the range I would wrap it in the list
list(range(3,10,2))

[3, 5, 7, 9]

In [220]:
index_count = 0

for letter in 'abcde':
    print('At index {} the letter is {}'.format(index_count,letter))
    index_count += 1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [223]:
# because this is a common operation, we will want a counter/enumerator
word = 'abcde'

for item in enumerate(word):
    print(item)
# prints out in the form of tuples

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [224]:
word = 'abcde'

for index,letter in enumerate(word):
    print(index)
    print(letter)
    print('\n')

0
a


1
b


2
c


3
d


4
e

In [225]:
# zip function - opposite of enumerate

mylist = [1,2,3]
mylist2 = ['a','b','c']

In [226]:
zip(mylist,mylist2)

In [227]:
for item in zip(mylist,mylist2):
    print(item)

(1, 'a')
(2, 'b')
(3, 'c')

In [228]:
# in operator

'x' in [1,2,3]

False

In [230]:
'x' in ['x','y','z']

True

In [231]:
'mykey' in {'mykey':345}

True

In [232]:
d = {'mykey':345}

345 in d.keys()

False

In [233]:
345 in d.values()

True

In [234]:
# min, max, random

mylist = [10,20,30,40,50]

In [235]:
min(mylist)

10

In [236]:
max(mylist)

50

In [238]:
from random import shuffle

In [239]:
shuffle(mylist)
mylist

[30, 40, 50, 10, 20]

In [240]:
shuffle(mylist)

In [241]:
mylist

[30, 50, 20, 10, 40]

In [242]:
from random import randint

In [243]:
randint(1,100)

70

In [244]:
randint(1,100)

90

In [245]:
input('Enter a number here: ')

Enter a number here: 50

'50'

# List Comprehensions

In [246]:
mystring = 'hello'

In [247]:
mylist = []

for letter in mystring:
    mylist.append(letter)

In [248]:
mylist

['h', 'e', 'l', 'l', 'o']

In [249]:
mylist = [letter for letter in mystring]

In [250]:
mylist

['h', 'e', 'l', 'l', 'o']

In [251]:
mylist = [x for x in 'word']

In [252]:
mylist

['w', 'o', 'r', 'd']

In [253]:
mylist = [x for x in range(0,11)]

In [254]:
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [255]:
mylist = [num for num in range(0,11)]

In [256]:
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [257]:
mylist = [num**2 for num in range(0,11)]

In [258]:
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [261]:
mylist = [x**2 for x in range(0,11) if x%2==0]

In [262]:
mylist

[0, 4, 16, 36, 64, 100]

In [265]:
celcius = [0,10,20, 34.5]

fahrenheit = [( (9/5)*temp + 32) for temp in celcius]

In [266]:
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [268]:
# nested loops

mylist = []

for x in [2,4,6]:
    for y in [100,200,300]:
        mylist.append(x*y)

In [269]:
mylist

[200, 400, 600, 400, 800, 1200, 600, 1200, 1800]

In [270]:
# doing the same thing with list comprehension can sacrafice readability

mylist = [x*y for x in [2,4,6] for y in [1,10,1000]]

In [271]:
mylist

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]

# Methods and Functions

In [1]:
mylist = [1,2,3]

In [2]:
help(mylist.insert)

Help on built-in function insert:

insert(index, object, /) method of builtins.list instance
    Insert object before index.

In [7]:
def name_of_function():
    '''Docstring explains the function'''
    pass

In [8]:
def say_hello():
    print('hello')

In [9]:
say_hello()

hello

In [16]:
def say_hello(name=''):
    print(f'Hello {name}')

In [17]:
say_hello('Jose')

Hello Jose

In [18]:
say_hello()

Hello

In [19]:
def add_num(num1,num2):
    return num1+num2

In [20]:
result = add_num(10,20)

In [21]:
result

30

In [22]:
# Functions with Logic

20 % 2

0

In [23]:
20 % 2 == 0

True

In [24]:
def even_check(number):
    return number % 2 == 0

In [25]:
even_check(21)

False

In [26]:
even_check(20)

True

In [27]:
# Return true if any num is even inside a list

def check_even_list(num_list):
    
    for number in num_list:
        if number % 2 == 0:
            return True
        else:
            pass

In [28]:
check_even_list([1,3,4])

True

In [29]:
check_even_list([1,3,5])

In [30]:
def check_even_list(num_list):
    
    for number in num_list:
        if number % 2 == 0:
            return True
        else:
            pass
        
    return False

In [32]:
check_even_list([1,2,5])

True

In [36]:
def check_even_list(num_list):
    #return all even numbers in a list
    
    #placeholder variable
    even_numbers = []
    
    for number in num_list:
        if number % 2 == 0:
            even_numbers.append(number)
            
        else:
            pass
        
    return even_numbers

In [37]:
check_even_list([1,2,3,4,5])

[2, 4]

In [38]:
check_even_list([1,3,5])

[]

# Tuple unpacking with Python functions

In [1]:
stock_prices = [('APPL',200),('GOOG',400),('MSFT',100)]

In [3]:
for item in stock_prices:
    print(item)

('APPL', 200)
('GOOG', 400)
('MSFT', 100)

In [5]:
for ticker,price in stock_prices:
    print(price+(0.1*price))

220.0
440.0
110.0

In [9]:
work_hours = [('Abby',100),('Billy',1400),('Cassie',800)]

In [15]:
def employee_check(work_hours):
    
    current_max = 0
    employee_of_month = ''
    
    for employee,hours in work_hours:
        if hours > current_max:
            current_max = hours
            employee_of_month = employee
        else:
            pass
    
    # Return
    return (employee_of_month,current_max)

In [16]:
employee_check(work_hours)

('Billy', 1400)

In [17]:
employee_check(work_hours)

('Billy', 1400)

In [18]:
item = employee_check(work_hours)

In [19]:
item

('Billy', 1400)

# Interactions b/w Functions

In [20]:
example = [1,2,3,4,5,6,7]

In [21]:
from random import shuffle

In [22]:
shuffle(example)

In [23]:
example

[4, 6, 7, 3, 5, 2, 1]

In [34]:
def shuffle_list(mylist):
    shuffle(mylist)
    return mylist

In [35]:
result = shuffle_list(example)

In [36]:
result

[5, 6, 3, 7, 1, 4, 2]

In [38]:
mylist = [' ','O',' ']

In [43]:
shuffle_list(mylist)

[' ', 'O', ' ']

In [49]:
def player_guess():
    
    guess=''
    
    while guess not in ['0','1','2']:
        guess = input('Pick a number: 0,1, or 2 ')
        
    return int(guess)

In [50]:
player_guess()

Pick a number: 0,1, or 2 3
Pick a number: 0,1, or 2 1

1

In [51]:
myindex = player_guess()

Pick a number: 0,1, or 2 2

In [52]:
myindex

2

In [59]:
def check_guess(mylist,guess):
    if mylist[guess] == 'O':
        print('Correct!')
        print(mylist)
    else:
        print('Wrong guess!')
        print(mylist)

In [62]:
# Initial List
mylist = [' ','O',' ']

# Shuffle List
mixedup_list = shuffle_list(mylist)

# User Guess
guess = player_guess()

# Check Guess
check_guess(mixedup_list,guess)

Pick a number: 0,1, or 2 1
Correct!
[' ', 'O', ' ']

In [63]:
# taking exam on functions

# Args and kwargs

In [67]:
def myfunc(a,b,c=0,d=0):
    # Returns 5% of the sum of a and b
    return sum((a,b,c,d)) * 0.05

In [70]:
# Eventually will hit a limit on number of arguments passed in

myfunc(40,60,100,100,100)

TypeError: myfunc() takes from 2 to 4 positional arguments but 5 were given

In [71]:
def myfunc(*args):
    return sum(args) * 0.05

In [73]:
# *Args allows you to use however many args as you wish it will take them all in
myfunc(40,60,100,100,100)

20.0

In [74]:
def myfunc(*args):
    for item in args:
        print(item)

In [75]:
myfunc(40,60,100,100,100)

40
60
100
100
100

In [80]:
# Similarly Python offers a way to handle an arbitrary amount of keyworded arguments...with **kwargs

def myfunc(**kwargs):
    print(kwargs)
    if 'fruit' in kwargs:
        print('My fruit of choice is {}'.format(kwargs['fruit']))
    else:
        print('I did not find any fruit here')

In [81]:
myfunc(fruit='apple',veggie='carrot')

{'fruit': 'apple', 'veggie': 'carrot'}
My fruit of choice is apple

In [82]:
# Uses args and kwargs in combination

def myfunc(*args,**kwargs):
    
    print('I would like {} {}'.format(args[0],kwargs['food']))

In [83]:
myfunc(10,20,30,fruit='orange',food='eggs',animal='dog')

I would like 10 eggs

In [84]:
def myfunc(x):
    out = []
    for i in range(len(x)):
        if i%2 == 0:
            out.append(x[i].lower())
        else:
            out.append(x[i].upper())
    return ''.join(out)

In [85]:
myfunc('Strawberry')

'sTrAwBeRrY'

# Lambda Expressions Map and Filter

In [86]:
def square(num):
    return num**2

In [87]:
my_nums = [1,2,3,4,5]

In [88]:
for item in map(square,my_nums):
    print(item)

1
4
9
16
25

In [89]:
list(map(square,my_nums))

[1, 4, 9, 16, 25]

In [90]:
def splicer(mystring):
    if len(mystring)%2 == 0:
        return 'EVEN'
    else:
        return mystring[0]

In [91]:
names = ['Andy','Eve', 'Sally']

In [92]:
list(map(splicer,names))

['EVEN', 'E', 'S']

In [93]:
def check_even(num):
    return num%2 == 0

In [94]:
mynums = [1,2,3,4,5,6]

In [98]:
list(filter(check_even,mynums))

[2, 4, 6]

In [100]:
# alternatively, loop through and print directly
for n in filter(check_even,mynums):
    print(n)

2
4
6

In [101]:
# Lambda expressions

def square(num):
    result = num**2
    return result

In [102]:
square(2)

4

In [104]:
#lambda expression aka anonymous function
square = lambda num: num**2

In [105]:
square(5)

25

In [106]:
# the power of lambdas in conjunction with map
list(map(lambda num: num**2, mynums))

[1, 4, 9, 16, 25, 36]

In [108]:
# lambdas in conjunction with filter
list(filter(lambda num: num%2 == 0, mynums))

[2, 4, 6]

In [109]:
names

['Andy', 'Eve', 'Sally']

In [112]:
# name could be any variable
list(map(lambda name:name[0],names))

['A', 'E', 'S']

In [115]:
# reverse the names
list(map(lambda name:name[::-1],names))

['ydnA', 'evE', 'yllaS']

# Nested Statements and Scope

In [119]:
x = 25

def printer():
    x = 50
    return x

In [120]:
print(x)

25

In [121]:
print(printer())

50

https://realpython.com/python-scope-legb-rule/
L = Local, E = Enclosing, G = Global, B = Built-in

In [122]:
# Local => num is a local variable
lambda num:num**2

In [129]:
# Enclosing
name = "This is a Global string"

def greet():
    
    #name = "Sammy"
    
    def hello():
        name = "Im a Local"
        print('Hello ' +name)
    
    hello()
    
greet()

Hello Im a Local

In [128]:
greet()

Hello This is a Global string

In [130]:
# Built-in function
help(len)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

In [133]:
x = 50

def func(x):
    print(f'X is {x}')
    
    # Local Reassignment!
    x = 200
    print(f'I Just Locally changed X to {x}')

In [134]:
func(x)

X is 50
I Just Locally changed X to 200

In [135]:
print(x)

50

In [142]:
# If I wanted to actually reassign x globally I would declare it global in the func()
x = 50

def func():
    global x
    print(f'X is {x}')
    
    # Local Reassignment!
    x = 'New Value'
    print(f'I Just Locally changed Global X to {x}')

In [143]:
func()

X is 50
I Just Locally changed Global X to New Value

In [144]:
print(x)

New Value

In [145]:
# Instead of using the global keyword it is best to pass x as an arg and return x
x = 50

def func(x):

    print(f'X is {x}')
    
    # Local Reassignment!
    x = 'New Value'
    print(f'I Just Locally changed Global X to {x}')
    return x

In [147]:
func(x)

X is 50
I Just Locally changed Global X to New Value

'New Value'

In [148]:
print(x)

50

In [149]:
print(func(x))

X is 50
I Just Locally changed Global X to New Value
New Value

# Displaying Information

In [151]:
def display(row1,row2,row3):
    print(row1)
    print(row2)
    print(row3)

In [152]:
example_row = [1,2,3]

# flexible to whatever variables or parameters I have
display(example_row,example_row,example_row)

[1, 2, 3]
[1, 2, 3]
[1, 2, 3]

In [153]:
row1 = [' ',' ',' ']
row2 = [' ',' ',' ']
row3 = [' ',' ',' ']

display(row1,row2,row3)

[' ', ' ', ' ']
[' ', ' ', ' ']
[' ', ' ', ' ']

In [154]:
row2[1] = 'X'

In [155]:
display(row1,row2,row3)

[' ', ' ', ' ']
[' ', 'X', ' ']
[' ', ' ', ' ']

# Accepting User Input

In [156]:
input("Please enter a value: ")

Please enter a value: 2

'2'

In [157]:
result = input("Please enter a value: ")

Please enter a value: 2

In [158]:
result

'2'

In [159]:
type(result)

str

In [160]:
result = input("Enter Value: ")

Enter Value: 2

In [161]:
# Converting to new type ex. Int
result_int = int(result)

In [162]:
type(result)

str

In [163]:
type(result_int)

int

In [164]:
type(2.3)

float

In [166]:
# Convert to float
float('3.14')

3.14

In [167]:
# You may need to convert if you need a specific type in the function
position_index = input("Choose an index position: ")

Choose an index position: 1

In [168]:
row1[position_index]

TypeError: list indices must be integers or slices, not str

In [169]:
# TypeError: list indices must be integers or slices, not str
# because position_index is still a string

In [170]:
# To fix this we need to wrap the input in int()
position_index = int(input("Choose an index position: "))

Choose an index position: 2

In [171]:
row1[position_index]

' '

In [174]:
position_index = int(input("Choose an index position: "))

Choose an index position: 1

In [175]:
row2[position_index]

'X'

# Validating User Input
to avoid errors with user input

In [177]:
def user_choice():
    
    choice = input("Please enter a number (0-10): ")
    
    return int(choice)

In [178]:
# User can pass in something that is not a digit
user_choice()

Please enter a number (0-10): nine

ValueError: invalid literal for int() with base 10: 'nine'

In [179]:
# User can pass in something that is outside the range I want

user_choice()

Please enter a number (0-10): 15

15

In [180]:
# isdigit()

def user_choice():
    
    choice = input("Please enter a number (0-10): ")
    
    return int(choice)

In [181]:
some_value = '100'

In [182]:
some_value.isdigit()

True

In [183]:
int(some_value)

100

In [186]:
def user_choice():
    
    choice = 'Wrong'
    
    while choice.isdigit() == False:
        
        choice = input("Please enter a number (0-10): ")
        
        if choice.isdigit() == False:
            print("Sorry that is not a digit")
    
    return int(choice)

In [187]:
user_choice()

Please enter a number (0-10): four
Sorry that is not a digit
Please enter a number (0-10): 5

5

In [189]:
# check if the value is in the acceptable values range

result = 'Wrong Value'

In [190]:
acceptable_values = [0,1,2]

In [191]:
result not in acceptable_values

True

In [195]:
def user_choice():
    
    # Variables
    
    # Initial
    choice = 'Wrong'
    acceptable_range = range(0,11)
    within_range = False
    
    # Two conditions to check
    # Digit or Within_Range == False
    
    while choice.isdigit() == False or within_range == False:
        
        choice = input("Please enter a number (0-10): ")
        
        # Digit check
        if choice.isdigit() == False:
            print("Sorry that is not a digit")
        
        # Range check
        if choice.isdigit() == True:
            if int(choice) in acceptable_range:
                within_range = True
            else:
                print("Sorry, you are out of range 0-10")
                within_range = False
    
    return int(choice)

In [197]:
user_choice()

Please enter a number (0-10): two
Sorry that is not a digit
Please enter a number (0-10): 12
Sorry, you are out of range 0-10
Please enter a number (0-10): 8

8

# Simple User Interaction

In [217]:
from IPython.display import clear_output
clear_output()

In [224]:
game_list = [0,1,2]

In [225]:
def display_game(game_list):
    print("Here is the current list")
    print(game_list)

In [226]:
display_game(game_list)

Here is the current list
[0, 1, 2]

In [220]:
def position_choice():
    
    # This original choice value can be anything that isn't an integer
    choice = 'wrong'
    
    # While the choice is not a digit, keep asking for input.
    while choice not in ['0','1','2']:
        
        # we shouldn't convert here, otherwise we get an error on a wrong input
        choice = input("Pick a position to replace (0,1,2): ")
        
        if choice not in ['0','1','2']:
            # THIS CLEARS THE CURRENT OUTPUT BELOW THE CELL
            clear_output()
            
            print("Sorry, but you did not choose a valid position (0,1,2)")
            
    
    # Optionally you can clear everything after running the function
    # clear_output()
    
    # We can convert once the while loop above has confirmed we have a digit.
    return int(choice)

In [232]:
def replacement_choice(game_list,position):
    
    user_placement = input("Type a string to place at the position")
    
    game_list[position] = user_placement
    
    return game_list

In [230]:
def gameon_choice():
    
    # This original choice value can be anything that isn't a Y or N
    choice = 'wrong'
    
    # While the choice is not a digit, keep asking for input.
    while choice not in ['Y','N']:
        
        # we shouldn't convert here, otherwise we get an error on a wrong input
        choice = input("Would you like to keep playing? Y or N ")

        
        if choice not in ['Y','N']:
            # THIS CLEARS THE CURRENT OUTPUT BELOW THE CELL
            clear_output()
            
            print("Sorry, I didn't understand. Please make sure to choose Y or N.")
            
    
    # Optionally you can clear everything after running the function
    # clear_output()
    
    if choice == "Y":
        # Game is still on
        return True
    else:
        # Game is over
        return False

# Game Logic

In [239]:
# Variable to keep game playing
game_on = True

# First Game List
game_list = [0,1,2]



while game_on:
    
    # Clear any historical output and show the game list
    # clear_output()
    display_game(game_list)
    
    # Have player choose position
    position = position_choice()
    
    # Rewrite that position and update game_list
    game_list = replacement_choice(game_list,position)
    
    # Clear Screen and show the updated game list
    clear_output()
    display_game(game_list)
    
    # Ask if you want to keep playing
    game_on = gameon_choice()

Here is the current list
[0, 'test', 2]
Would you like to keep playing? Y or N N